:root {
  --third-family: 'Myriad Pro';
  --second-family: 'Roboto';

  --box-shadow-inset: inset 4px 4px 4px var(--color-bg-2);

  --transition-default: all 0.3s ease-in-out;

  --border-radius-md: 4px;
  --border-radius-lg: 8px;
  --border-radius-xl: 16px;
  --border-radius-p50: 50%;

  --color-light: #ffffff;
  --color-gray: #acacac;
  --color-gray-2: #3b424f;
  --color-gray-bg-1: #22242b;
  --color-gray-bg-2: #0c0d10;
  --color-dark-gray: #5e6785;
  --color-gray-gradient: linear-gradient(var(--color-dark), var(--color-dark-gray));
  --color-yellow: #fec60f;
  --color-dark-yellow: #fdb51a;
  --color-dark: #2f2a21;
  --color-dark-1: #242424;
  --color-bg-2: #0f0f0f;
  --color-bg-2-t40: #0f0f0f;

  --spacing-none: 0px;
  --spacing-xxs: 10px;
  --spacing-xs: 15px;
  --spacing-sm: 30px;
  --spacing-md: 60px;
  --spacing-lg: 120px;
  --spacing-xl: 180px;
  --spacing-xxl: 200px;

  --font-size-xxs: 12px;
  --font-size-xs: 15px;
  --font-size-sm: 18px;
  --font-size-m: 20px;
  --font-size-md: 24px;
  --font-size-lg: 30px;
  --font-size-title: 40px;
  --font-size-xl: 42px;
  --font-size-xxl: 60px;
  --font-size-xxxl: 70px;

  --line-height-xxs: 15px;
  --line-height-xs: 18px;
  --line-height-sm: 22px;
  --line-height-md: 126%;
  --line-height-lg: 36px;
  --line-height-xl: 51px;
  --line-height-xxl: 73px;

  /*--media-lg: 1279px;*/
  /*--media-md: 767px;*/
  /*--media-sm: 575px;*/
}

@media screen and (max-width: 1279px) {
  :root {
    --font-size-xs: 14px;
    --font-size-m: 17px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 26px;
    --font-size-title: 35px;
    --font-size-xxl: 52px;
    --font-size-xxxl: 60px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --font-size-xs: 13px;
    --font-size-m: 15px;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 22px;
    --font-size-title: 30px;
    --font-size-xxl: 43px;
    --font-size-xxxl: 50px;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --font-size-xs: 12px;
    --font-size-m: 13px;
    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 18px;
    --font-size-title: 25px;
    --font-size-xxl: 34px;
    --font-size-xxxl: 35px;

    --spacing-sm: 11px;
  }
}
